*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

html, body, #root {
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr; /* fila 1: header auto; fila 2: main ocupa resto */
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
}