$font-family-title: "Blaka Ink", system-ui;
$font-family-text: "New Rocker", system-ui;
$color-primary: #887c0e;
$color-secondary: #f1e578;
$color-accent: #690c0e;
$color-bg: #1e1a4d;
$color-text: #616161;
