@use "./core/_reset";
@use "./core/_variables" as var;

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  background-color: var.$color-bg;
  box-shadow: inset 0 10px 12px -6px var.$color-secondary;
}
