@use "./core/variables" as var;

.mainDetails {
  font-family: var.$font-family-text;
  letter-spacing: 0.1rem;
  min-height: 64dvh;
  background-color: var.$color-bg;
  box-shadow: inset 0 10px 12px -6px var.$color-secondary;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__card {
    width: 100%;
    margin-inline: 2rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px var.$color-primary;
    background-color: var.$color-accent;
    padding-block: 1rem;
    border-radius: 5px;
    @media(min-width: 478px){
     margin-inline: 15rem;
    }
    &--containerImg {
      width: 10rem;
      aspect-ratio: 3 / 4;
      &--img {
        border-radius: 5px;
        border: 1px solid var.$color-primary;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 2rem;
      font-size: 1.5rem;
      color:var.$color-secondary;
      &--name{
        color:var.$color-primary;
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
        font-weight: 700;

      }
    }
  }
}
