@use "./core/variables" as var;

.mainDetails {
  min-height: 100vh;
  font-family: var.$font-family-text;
  letter-spacing: 0.1rem;
  background-color: var.$color-bg;
  box-shadow: inset 0 10px 12px -6px var.$color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;


  &__link {
    align-self: flex-end;
    color: var.$color-primary;
    text-decoration: none;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    cursor: pointer;
     @media (min-width: 478px) {
      font-size: 2.5rem;
      padding-right: 5.5rem;
    }
  }
  &__card {
    align-self: center;
    width: 90vw;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 10px var.$color-primary;
    background-color: var.$color-accent;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: 5px;
    max-height: none;
    @media (min-width: 478px) {
      gap: 4rem;
      width: 80%;
    }
    &--containerImg {
      width: 80%;
      max-width: 13rem;
      aspect-ratio: 3 / 4;
      &--img {
        border-radius: 5px;
        border: 1px solid var.$color-primary;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--info {
      display: flex;
       flex: 1 1 auto;
      flex-direction: column;
      justify-content: center;
      font-size: clamp(0.9rem, 3.5vw, 2rem);
      color: var.$color-secondary;
      padding-block: 1rem;
      &--name {
        color: var.$color-primary;
        font-size: clamp(1.8rem, 5.5vw, 2.5rem);
        padding-bottom: 1.5rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
